:root{
    --fondos: #1e2144;
    --letra_clara: #e6e6e6;
    --fondos_claros: #5e67c9;
    --letra_oscura: black;
    --color_secundario:#7F85C7;
    --color_terciario: #3E458E;
    --color_cuaternario: #abb1f1;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    background-color: var(--fondos_claros);
}
/* -------------------------------------------------------------------------- */
/* ejercicio 1 */
.navegacion{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 50px;
    background-color: var(--fondos);
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}
.navegacion__a{
    color: var(--letra_clara);
    text-decoration: none;
    background-color: var(--fondos);    
    margin-right: 40px;
    font-size: 20px;
}
/* -------------------------------------------------------------------------- */
/* ejercicio 2 */
.card{
    /* Contenedor de una tarjeta de información (ej. para un producto o tema) */
    display: flex;
    flex-flow: column nowrap;
    height: 800px;
    width: 700px;
    background-color: var(--fondos);
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 5px;
    margin-bottom: 80px;
}
.card__p{
    /* Párrafo descriptivo dentro de la tarjeta, actúa como un encabezado secundario */
    height: 23px;
    width: 610px;
    color: var(--letra_clara);
    font-size: 50px;
    text-align: center;
    background-color: var(--fondos);    
}
.card__img{
    /* Imagen principal dentro de la tarjeta */
    height: 400px;
    width: 350px;
    background-color: var(--fondos);
}
.card__h4{
    /* Descripción o texto largo dentro de la tarjeta */
    height: 80px;
    width: 610px;
    color: var(--letra_clara);
    background-color: var(--fondos);
    font-size: 18px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: lowercase;
}
.card__button{
    font-size: 40px;
    background-color: var(--fondos_claros);
    color: var(--letra_clara);
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    border: var(--fondos);
}
.card__button--hover:hover{
    background-color: var(--letra_clara);
    color: var(--letra_oscura);
}
/* -------------------------------------------------------------------------- */
/* ejercicio 3 */
.galeria{
    display: flex;
    flex-flow: row wrap;
    background-color: var(--fondos);
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.galeria__img{
    height: 200px;
    width: 300px;
    background-color: var(--fondos);
    cursor: grab;
}
/* -------------------------------------------------------------------------- */
/* ejercicio 4 */
.formulario {
  display: flex;
  height: 700px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
  background-color: var(--fondos);
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.formulario__div {
  height: 100px;
  background-color: var(--fondos);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario__item {
  color: var(--letra_clara);
  font-size: 30px;
  background-color: var(--fondos);
  margin-bottom: 10px;
}

.formulario__input {
  height: 30px;
  width: 200px;
  background-color: var(--color_secundario);
  border: var(--fondos) solid 2px;
  border-radius: 3px;
  text-align: center;
  color: var(--letra_oscura);
}

.formulario__input--placeholder::placeholder {
  color: rgb(54, 54, 54);
}

.formulario__button {
  height: 30px;
  width: 100px;
  background-color: var(--color_secundario);
  color: var(--letra_clara);
  border: var(--fondo) solid 2px;
  border-radius: 3px;
  align-self: center;
}

.formulario__button--hover:hover {
  background-color: var(--fondo);
  cursor: pointer;
  border: var(--color_secundario) solid 2px;
  border-radius: 3px;
}
/* -------------------------------------------------------------------------- */
/* ejercicio 5 */
.encabezado{
    display: flex;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: var(--fondos);
}
/* -------------------------------------------------------------------------- */
/* ejercicio 6 */
.lista{
    display: flex;
    height: 800px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: var(--fondos);
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.lista__li{
    /* Estilos para cada elemento individual de la lista de tareas */
    list-style: none;
    color: var(--letra_clara);
    font-size: 30px;
    text-align: left;
    background-color: var(--fondos);
}
.checkbox{
    /* Estilos para los elementos de checkbox */
    width: 25px;
    height: 25px;
}
.lista__li--has:has(input[type="checkbox"]:checked) {
    /* Aplica estilos especiales a un ítem de la lista si su checkbox está marcado */
    color: #868688;
    text-decoration: line-through;
    opacity: 0.8;
} 
/* -------------------------------------------------------------------------- */
/* ejercicio 7 */
.testimonial{
    display: flex;
    height: 800px;
    width: 1500px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: var(--fondos);
}
/* -------------------------------------------------------------------------- */
/* ejercicio 8 */
.footer{
    display: flex;
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: var(--fondos);
}
/* -------------------------------------------------------------------------- */
/* ejercicio 9 */
.precios{
    display: flex;
    height: 800px;
    width: 1500px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: var(--fondos);
}
/* -------------------------------------------------------------------------- */
/* ejercicio 10 */
.sidebar{
    display: flex;
    height: 800px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-color: var(--fondos);
    flex-flow: column wrap;
}
.sidebar2 {
    /* Barra lateral de navegación o de información adicional */
    width: 250px;
    height: 765px;
    background-color: var(--color_secundario);
    border-radius: 15px;
}
.sidebar__titulo {
    /* Título principal de la barra lateral */
    font-size: 30px;
    color: var(--fondo);
    text-align: center;
    background-color: var(--color_secundario);
}
.sidebar__enlace {
    /* Estilos para los enlaces de navegación dentro de la barra lateral */
    color: var(--card);
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.2s;
    background-color: var(--color_secundario);
}
.sidebar__enlace:hover {
    /* Efecto hover para los enlaces de la barra lateral */
    background-color: #e3f0ff;
}
